footer {
        border: 1px solid $secundary-color;
        background-color: $primary-color;
        width: 100%;
        height: 150px;
        display:flex;
        justify-content: space-between;
        align-items: end;
    
    .footer_icon {
        width: 70px;
        height: 70px;
        right: 30px;
        margin: 0 0 30px 15px;
    }

    .footer-p{
        color: $white;
        height: auto;
        margin: 0;
        font-size: 0.6em;
        position: absolute;
    }

    .itemsfooter{
        margin: 0;
        padding: 0;
        height:115px;
    li {
        list-style-type: none;
        font-family: $primary-font;
        img{
            width: 23px;
            height: 23px;
        }
        }
    }
    .itemsfooter>li>a{
        text-decoration: none;
        color:$yellow;
        font-size: 0.7em;
        margin:0 40px 30px 0; 
        padding: 0;        
    }
    .icon-ws{
        position: fixed;
        right: 10px;
        bottom:20px;
        img{
        width: 55px; 
        height: 55px; 
        }

    }
}

.itemsfooter>li>a:hover{
    color: rgb(249, 226, 165);
}
