//-----MAIN-BOOSTRAP-----//
.carousel-item {
        img{
    min-width: 400px;
    max-width: 450px;
    }
}
.container{
    margin-bottom: 40px;
    .subtittle{
    text-align: center;
    background-color: $black-transtarent;
    color: $white;
    margin: 15px 0 10px 0;
    }
}

.article:hover{
    opacity: 0.6;     }

//-----MAIN-BOOSTRAP-FIN-----//
//-----MAIN-CONTACTO-----//


    .form{
        justify-content: center;
        font-family:$primary-font;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.735);
        display:block;
        min-height:100vh;
        justify-content:center;

    .containercontacto{
        width: 100%;
        height: 450px;

    .contactodata1{
        width: 100%;
        

        select{
            @include button-style ($grey ,$border:none , $b-bottom:1px solid $secundary-color ,$color: $tertiari-color);
            width:100%;
            height: 40px;

        }

}
    .contactodata2{
        width: 100%;

        input{
            @include button-style ($grey ,$border:none , $b-bottom:1px solid $secundary-color ,$color: $tertiari-color);
            width: 100%;
            height: 40px;
            margin-top: 3px;
            

    }

}
    .contactodata4{
        width: 100%;
        position: absolute;
        height: 128px;
        bottom: -34px;
        

        textarea{
            @include button-style ($grey ,$border:none , $b-bottom:1px solid $secundary-color ,$color: $tertiari-color);
            resize: none;       
            overflow: auto;
            width: 100%;
            height: 100px;

        }
        .container-submit{
            height: 30px;
            justify-content: center;
            display: flex;

        .submit{
            background-color: $grey;
            margin-top: 5px;
            width: 300px;
            
        }
}

        }
    }
        .contactodata3{
            width: 100%;
            height: 200px;
            position: absolute;
            top: 529px;

    select{
        @include button-style ($grey ,$border:none , $b-bottom:1px solid $secundary-color ,$color: $tertiari-color);
        width: 100%;
        height: 40px;
        margin-top: 3px;

        }

    }
}


label{
    color: $white;
    margin-left: 6px;
    font-size: 1.2em;
    
}
//-----MAIN-CONTACTO-FIN-----//
//-----MAIN-NOSOTROS-----//

.container_info{
        min-height: 100vh;
        width: 100%;
        background-color:rgba(220, 220, 225, 0.04) ;
        justify-content: center;
    h2{
        text-align: center;
        font-size: 2.5em;
        color: $white;
        text-shadow: 0 0 8px white;

    }
    div{
        margin: 0 6px 0 6px;
        p{
            font-size: 1.1em;
            font-family:$primary-font;
            color: $white;
            text-shadow: 0 0 7px white;
        }
        
    }
}
        //-----MAIN-NOSOTROS-FIN-----//