$yellow:rgb(255, 191, 0);
$yellow-claro:rgb(246, 221, 147);
$grey:rgb(186, 194, 200);
$grey-claro:rgba(213, 226, 238, 0.966);
$shadow-color:rgba(255, 248, 220, 0.858);
$white:rgb(255, 255, 255);
$primary-color:rgb(33, 33, 42);
$secundary-color:black;
$body-fondo: rgba(240, 248, 255, 0.036);
$nav-items-hover-color:#333a;
$navbar-fondo:rgba(0, 0, 0, 0.91);
$black-transtarent:rgba(0, 0, 0, 0.548);
$darkblue:rgb(11, 19, 26);
$tertiari-color:rgb(94, 95, 123);

$primary-font:Teko-Regular;
$secundary-font:AtacadFlux-Regular;